/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
header {
  padding: 2%;
}
h1 {
  color: goldenrod;
  font-family: sans-serif;
  font-size: 60px;
}
nav {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
nav a {
  border: 2px solid black;
  padding: 5px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: goldenrod;
  background-color: black;
  border-radius: 10px;
  margin-left: 2px;
}
hr {
  border: 3px solid black;
}
.pipes {
  height: auto;
  width: 7%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  padding: 1%;
  margin: 1%;
  border: 2px solid silver;
  background-image: url(images\pexels-photo-167200.jpeg);
}
p {
  font-family: sans-serif;
}
strong {
  font-weight: bold;
}
