// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

header {
	padding: 2%;
}

h1 {
	color: blue;
	font-family: sans-serif;
	font-size: 100%;
}

h2 {
	color: blue;
	font-family: sans-serif;
	font-size: 100%;
}

nav {
	width: 80%;
	display: flex;
	justify-content: flex-start;
}

nav a {
	border: 2px solid black;
	padding: 3px;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 20px;
	color: blue;
	background-color: silver;
	border-radius: 10px;
	margin-left: 2px;
}

hr {
	border: 3px solid black;
}

.pipes {
	height: auto;
	width: 7%;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 98%;
	padding: 1%;
	margin: 1%;
	border: 2px solid black;
	background-color: silver;
}

.container2 {
	display: inline-block;
	width: 98%;
	padding: 1%;
	margin: 1%;
	border: 2px solid black;
	background-color: silver;
}

.container3 {
	display: flex;
	justify-content: space-between;
	width: 98%;
	padding: 1%;
	margin: 1%;
	border: 2px solid black;
	background-color: silver;

}

.bucket {
	display: flex;
	flex-direction: column;
}

.bucket2 {
	display: flex;
	flex-direction: column;
	width: 35%;
}

p {
	font-family: sans-serif;
}

strong {
	font-weight: bold;
}

.boldcolor {
	color: blue;
}

button {
	background-color: blue;
	border: none;
	color: white;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
}

.listentext {
	width: 35%;
}

table, th, td {
	border: 1px solid black;
}